// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

:root {
  --main: #fe7b54;
  --main-hover: #df5c34;
}

.pb-6 {
  padding-bottom: 3.5rem;
}

.pb-7 {
  padding-bottom: 4rem;
}