// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// @import '~mdb-ui-kit/css/mdb.min.css';
:root {
  --main: #fe7b54;
  --main-shadow: #fe7c54aa;
  --main-hover: #df5c34;
}

.pb-6 {
  padding-bottom: 3.5rem;
}

.pb-7 {
  padding-bottom: 4rem;
}
.w-80px {
  width: 80px;
}
.btn-areakerja {
  background-color: var(--main);
  color: white;
  font-weight: bold;
}